In [22]:
import torch
import torchtext
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [23]:
data = pd.read_csv(r"data\spam.csv", encoding = 'latin-1')

In [24]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [25]:
data.rename(columns = {"v1" : "Label", "v2" : "Text"}, inplace = True)
data = data[["Label", "Text"]]

In [27]:
print(data.shape)
print(data.columns)

(5572, 2)
Index(['Label', 'Text'], dtype='object')

In [29]:
train, test = train_test_split(data, test_size = 0.2, random_state = 21)

print(f"TRAINING DATA : {train.shape}")
print(f"TESTING DATA : {test.shape}")

TRAINING DATA : (4457, 2)
TESTING DATA : (1115, 2)

In [31]:
train.reset_index(drop = True), test.reset_index(drop = True)

(     Label                                               Text
 0      ham  NEFT Transaction with reference number  &lt;#&...
 1      ham  Once a fishrman woke early in d mrng. It was v...
 2      ham                          I know you mood off today
 3      ham          What's up. Do you want me to come online?
 4      ham                 You will go to walmart. I.ll stay.
 ...    ...                                                ...
 4452   ham                Wif my family booking tour package.
 4453   ham  Really... I tot ur paper ended long ago... But...
 4454   ham  Yeah hopefully, if tyler can't do it I could m...
 4455   ham  idc get over here, you are not weaseling your ...
 4456   ham                      Wishing you a wonderful week.

 [4457 rows x 2 columns],
      Label                                               Text
 0      ham                   What should i eat fo lunch senor
 1      ham                   Yes.he have good crickiting mind
 2      ham                       Kothi print out marandratha.
 3      ham  No da:)he is stupid da..always sending like th...
 4      ham  No * am working on the ringing u thing but hav...
 ...    ...                                                ...
 1110   ham                                       26th OF JULY
 1111   ham                             Sorry, I'll call later
 1112   ham  If i not meeting ÃŒ_ all rite then i'll go home...
 1113   ham  So li hai... Me bored now da lecturer repeatin...
 1114  spam  Urgent! Please call 0906346330. Your ABTA comp...

 [1115 rows x 2 columns])